meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
title= title
link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css")
script(src="/javascript/lib/requirejs/require.js")
script(src="/javascript/config.js")
script(src="/javascript/page/index/"+key+".js")
link(rel='stylesheet' href='/stylesheets/index/navbar.css')
link(rel='stylesheet' href='/stylesheets/index/'+key+'.css')
link(rel="shortcut icon" href="/images/favicon.png")