div(page="index-public-bottom")
    .container
        .row
            .col-md-6.col-sm-4.left
                p 邮箱地址：datahunter@sina.cn
                p 电话资讯：188 1942 3767
            .col-md-6.col-sm-8.right
                p 公司地址：广东省广州市广州大学城广东外语外贸大学
                a
                    img(src="./images/index/wechat.png")
                    span
                p.copyright © copyright DataHunter. All Rights Reserved