div(page="index-public-footer")
	div.footer-top
		.container
			.row
				.col-md-6.col-sm-4.left
					ul
						for item in nav.nav
							li: a(href = item.href)= item.label
				.col-md-6.col-sm-8.right
					div.contact
						p 联系我们
						div
							img(src="./images/icon-phone.png")
							p 18819423767
						div
							img(src="./images/icon-mail.png")
							p datahunter@sina.cn
						div
							a(href="https://zhuanlan.zhihu.com/datahunter")='知乎专栏'
							p &nbsp;| &nbsp;
							a(href="http://weibo.com/datahunter")='微博'

					img(src="./images/QRcode.jpg" class="QRcode")
	div.footer-bottom
				p 版权所有©广州数群信息科技有限公司
				p Copyright©2016  LierenIO  粤ICP备16076573号

