nav(class="navbar")
      div.container-fluid
        div.navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/"): img(src='/images/index/logo.png')
        div(class="collapse navbar-collapse" id="navbar-collapse")
          ul(class="nav navbar-nav")
            for item in nav.nav
              if key == item.key
                li: a.active(href= item.href)= item.label
              else
                li: a(href= item.href)= item.label
          ul(class="nav navbar-nav navbar-right" role="navigation")
            if nav.isLogin
              li: a(href="/console/information") 控制台
              li: a(href="/users/logout") 登出
            else
              li: a(href="/users/login") 登录
              li: a(href="/users/register") 注册