nav(class="navbar navbar-default"  role="navigation" id="navbar")
  div.navbar-header
    a(href="/")
      img(src='/images/console/logo.png' alt="datahunter-logo")
  div.navbar-content
    p.navbar-text.navbar-left 数据猎人控制中心
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a(href="#" class="dropdown-toggle" data-toggle="dropdown")
          span= nav.account
          b.caret
        ul.dropdown-menu.user-show
          li
            a(href="#")
              img(src="/images/console/user-center.png" alt="user-center")
              span 用户中心
          li
            a(href="/users/logout") 
              img(src="/images/console/logout.png" alt="logout")
              span 退出
    img(class="navbar-right account-picture" src="/images/console/account-picture.png" alt="")

