extends public/layout

block content
    .banner
        .container
            .row
                .image.col-lg-7.col-md-7.col-sm-12
                .text.col-lg-4.col-lg-offset-1.col-md-4.col-md-offset-1.col-sm-12
                    h1.title 数据猎人(DataHunter)
                    p.text 面向互联网公开数据的商业情报分析服务提供商。以“让大数据来得更容易”为理念，提供大数据情报分析及其定制服务，致力于构建数据桥梁，实现大数据真正价值。
    .section
        .container
            .row
                .member.col-lg-12
            .row
                p.text 数据猎人由若干名就职于阿里巴巴集团的工程师及广东外语外贸大学智能信息处理研究所的研究员共同组成。
    .section
        .container
            .row
                .service.col-lg-12
            .row
                p 数据猎人提供一站式行业动、企业形象、竞争对手、营销战略的智能商业情报检测及分析解决方案，并提供数据定制服务，为用户提供个性化的数据解决方案。
    .try
        p.hunter 数据猎人
        p.service 定义企业自身的商业情报监控服务
        a(href="/users/login", class="experience") 立即体验