doctype html
html
    head
        meta(charset="UTF-8")
        link(href="https://cdn.bootcss.com/weui/1.1.0/style/weui.min.css" rel="stylesheet")
        link(href="/stylesheets/wechat.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
        script(src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js")
        title Hello WeChat
    body
        #root
        script(src="/javascript/wechat.js")
