doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title= title
        link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css")
        link(rel='stylesheet' href='/stylesheets/users/navbar.css')
        link(rel='stylesheet' href='/stylesheets/users/'+key+'.css')
        script(src="/javascript/lib/requirejs/require.js")
        script(src="/javascript/config.js")
        script(src="/javascript/page/users/"+key+".js")
        link(rel="shortcut icon" href="/images/favicon.jpg")
    body

    block navbar

    block content