extends public/layout

block navbar
    include public/navbar

block content
        form.form(action="#", method="POST")
            .form-group
                label(for="forget")
                    span 邮箱:
                    input.form-control(name="forget", id="forget")
                p 密码将发到此邮箱，请正确填写
            button.btn.btn-primary(type="submit") 提交